

/* Responsive styles for phones */
@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }

    
    .sub-main{
        background-color: grey;
        margin-left:380px ;
        padding-left: 15px;
        margin-right:0px ;
        border-radius: 100;
        padding: 15px;
        border: 2px solid black;
        margin-top:-195px;
        display: none;
    } 
    
    /* .dropdown{
        display: flex;
    } */

    .nav{
        display:none;
      
    
    } 
    
    a{
        text-decoration: none;
        color: black;
    }
    
    a:hover{
        color: white;
    }
    
    menu i{
        position: absolute;
        right: 10%;
        font-size: 1.5rem;
        top: 2%;
    }


    
    .logo{
        margin-left: 160px;
        margin-bottom: -150px;
    }
    
    .hamburger{
        display: block;
        position: absolute;
        right: -9%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: grey;
        top: 1%;
       
    }

    .hamburger i{
        font-size: 1.9rem;
        color: white;
        margin-top: 16%;
        margin-left: 0.4rem;
        
    }

    .logo-text{
        font-size: 30px;
        margin-top: 80px;
        text-align: center;
        margin-left: 50px;
        color: orangered;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .logo-text1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 15px;
        color: black;
        margin-left:100px ;
        margin-right:00px ;
    }
    
    .main-main-image{
        display: flex;
        justify-content: center;
        margin-left:10% ;
        margin-top:-59.5%;
        z-index:-1;
       
    }
    .image1{
    margin:0;
    margin-right: -10%;
    z-index:-1;
    margin-left: -2%;
    background-position: center;
    background-size:auto;
    background-image: url(./images/millo-lin-Ep3NPU9Uhkw-unsplash\ 1.png);
    }

    #blue{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .fi{

        margin-left: 0px;
        border:none;
        border-radius: 10px;
        z-index:-10;
        width: 480px;
    }
    .si{
        display: none;
        position: absolute;
        left:5px;
        top: -8px;
        z-index: -10;
        padding: px;
        border-radius: 10px;
        margin-right:-0px;
        border: 2.5px solid orangered;
        
    }
    .searchbar {
        display: flex; /* Use flexbox to align items horizontally */
        align-items: center; /* Center items vertically */
        background-color: rgb(204, 204, 204);
        margin-top: 30px;
        box-shadow: 2px 1px 2px 2px grey;
        margin-left: 80px;
        margin-right: 0px;
        padding: 10px;
    }
    
    .logo2 {
        padding-left: 10px;
        margin-bottom: 0;
        padding-top: 2px;
    }
    
    .input-parent {
        margin-left: 15px; /* Adjusted margin for spacing between logo and input */
        padding: 5px;
    }
    
    input {
        height: 25px;
        width: 150px;
        margin-bottom: 0;
        border: none;
        background-color: rgb(228, 226, 226);
        font-size: 12.5px;
    }
    
    .search-btn {
        text-align: center;
        background-color: rgb(255, 85, 23);
        padding: 5px 20px;
        height: 35px;
        border: none;
        margin-left: 10px; /* Adjusted margin for spacing between input and button */
    }
    
    .search-btn:hover {
        background-color: rgb(213, 76, 27);
        cursor: pointer;
        color: white;
    }

    .text3{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        color: orangered;
        text-align: center;
        margin-left: 80px;
    }
    
    .logo-text3{
        margin-top: 85px;
        color: black;
        margin-left:10px;
    }
    
    .small-logos{
        gap: 15px;
        margin-top:20px ;
    }
    
    .ssl{
        margin-left:10px ;
    }
    
    .text4{
        text-align: center;
        font-size: 50px;
        margin-left: 5rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .dts {
        display: flex;
        justify-content: space-evenly;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin-left: 5rem;
        text-align: center;
        padding: 0;
        gap: 30px;
        transition: transform 0.2s, color 0.2s;
    }
    
    .dts:hover {
        cursor: pointer;
    }
    
    .dts1:hover{
        transform: scale(1.03);
        color: orangered;
    }
    
    .dts2:hover {
        transform: scale(1.05);
        color: orangered;
    }
    
    .dts3:hover  {
        transform: scale(1.05);
        color: orangered;
    }
    
    
    .view-p{
        position: absolute;
        margin-top: 80px;
        padding: 20px;
        left: 150px;
        background-color: orangered;
        border: 3px solid black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 10px;
    }
    
    .view-p:hover{
        color: white;
        background-color: rgb(198, 86, 46);
        border: 3px solid rgb(74, 73, 73);
    }
    
    .line-through{
        margin-top: 200px;
        background-color: black;
        padding: 2px;
        width: 450px;
        margin-left: 30px;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        
        text-align: center;
    }
    
    .deal-list {
        display: flex;
        justify-content: space-evenly;
        transition: transform 0.3s;
        text-align: center;
        margin-left:5rem;
        gap: 20px;
    }
    
    .deal-list .deal-kids:hover {
        color: orangered;
        cursor: pointer;
        transform: scale(1.1);
        padding-block: 0;
        padding-inline: 0;
    }
    
    
    .deal-pics{
        display:block;
        margin-top: 50px;
        margin-left:6rem ;
        padding: 10px;
        padding-left: -50px;
        gap: 30px;
        border: none;
        margin-right:140px ;
    }
    
    .deal-pics1{
        margin-bottom:20px;
    }
    .types{
        margin-top: 50px;
        margin-left: 5rem;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 90px;
    }
    
    .prop-diff {
        display: block;
        justify-content: space-evenly;
        margin-left: 150px;
        margin-right: 190px;
        padding: 20px 30px 10px;
        border-radius: 80px;
        border: none;
        gap: 50px;
    }
    
    .prop-kid {
        margin-left: 30px;
        margin-bottom: 30px;
        transition: transform 0.3s; /* Adjust the transition duration */
    }
    
    .prop-kid:hover {
        transform: scale(1.2); /* Increase the size on hover */
        cursor: pointer;
    }
    
    .prop-kid img {
        width: 80px;
        height: auto; /* Maintain aspect ratio */
    }
    
    .prop-text {
        margin-left: 35px;
        display: flex;
        justify-content: center; /* Center text horizontally */
        align-items: center; /* Center text vertically */
        margin-top: 5px; /* Adjust the spacing between image and text */
    }
    
    .prop-kid:hover .prop-text {
        display: none; /* Hide text on hover */
    }
    
    
    .line-through2{
        margin-top: 60px;
        background-color: black;
        padding: 2px;
        width: 420px;
        margin-left: 30px;
    }
    
    .small-logo4{
        margin:50px;
        margin-left:50px ;
    }
    
    .logo4-text{
        display: flex;
        gap: 40px;
        margin-left: 70px;
        margin-top: -25px;
        transition: transform 0.3s; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .logo4-text2:hover{
        color: orangered;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .header-sec-kid{
        margin-left: 120px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        font-weight: bold;
    }
    
    .header-sec-kid2{
        margin-left: 125px;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .header-sec-image{
        display: none;
        position: absolute;
        left: 8px;
        top: 4500px;
        margin-top: -70px;
        
    }
    
    .img-text{
        margin-right: 20px;
        margin-left: 100px;
        margin-top: 50px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    .header-sec-image2{
        margin-top: 500px;
        display: block;
        margin-left: 6rem;
        justify-content: space-evenly;
    }
    
    .header-sec-image-kids{
        border: none;
        border-radius: 50px;
        margin-top: 10px;
        padding: 5px;
        padding-bottom:0px;
    }
    
    .header-sec-image-kids-texts{
        margin-top: 50px;
        margin-left:90px ;
        margin-right:0px ;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .line-through3{
        margin-top: 100px;
        background-color: black;
        padding: 2px;
        width: 450px;
        margin-left: 30px;
    }
    
    .header-sec3kid{
        margin:50px ;
        margin-left: 150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    
    .through-kid{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight:bolder;
    }
    
    
    .header-sec-kid-images{
        display: flex;
        margin-left:150px;
        gap: 25px;
        margin-top: -30px;
    }
    
    .header-sec-kid-images1{
        background-color: green;
        padding: 6px;
        border-radius: 50px;
    }
    .header-sec-kid-images1:hover{
        background-color: rgb(35, 191, 35);
        cursor: pointer;
    }
    
    .header-sec-kid-images2{
        background-color:red;
        padding: 6px;
        border-radius: 50px;
    }
    .header-sec-kid-images2:hover{
        background-color: rgb(232, 72, 23);
        cursor: pointer;
    }
    
    .header-sec-kid-images3{
        background-color:blue;
        padding: 6px;
        border-radius: 50px;
    }
    
    .header-sec-kid-images3:hover{
        background-color: rgb(0, 98, 255);
        cursor: pointer;
    }
    
    .header-sec-kid-images4{
        background-color:rgb(37, 210, 232);
        padding: 6px;
        border-radius: 50px;
    }
    
    .header-sec-kid-images4:hover{
        background-color:rgb(34, 130, 143);
        cursor: pointer;
    }
    
    
    .footer-head-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-left: 8rem;
        width: 250px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bolder;
        margin-top: 75px;
        gap: 20px;
    }
    
    #sfw{
        text-align: center;
    }

    .footer-head-text-main-kids{
        font-weight: lighter;
        transition: transform 0.3s ease-in-out;
    }
    
    .footer-head-text-main-kids:hover{
        transform: scale(1.1); 
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 4px;
        border-radius: 10px;
        padding-block:0;
        padding-inline: 0;
        padding: 0.5px;
        cursor: pointer;
    }
    .footer-head-text-main1{
        margin-top: 10px; 
    }
    
    .copyright{
        text-align: center;
        margin-top: 60px;
        margin-left: 5rem;
    }
    
    
}

/* Responsive styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add your tablet styles here */
}

/* Responsive styles for larger screens (e.g., PCs) */
@media only screen and (min-width: 1025px) {
    /* Add your larger screen (PC) styles here */
}
